
  <title>Login V1</title>
	<body>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>

<?php echo $this->Html->css(array(
	'/vendor/bootstrap/css/bootstrap.min.css',
	'/fonts/font-awesome-4.7.0/css/font-awesome.min.css',
	'/vendor/animate/animate.css',
	'/vendor/css-hamburgers/hamburgers.min.css',
	'/vendor/select2/select2.min.css',
	'main.css',
	'util.css',
)); ?>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="/images/img-01.png" alt="IMG">
				</div>

				<?php echo $this->Form->create('User'); ?>
					<span class="login100-form-title">
						Login
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" name="data[User][username]" placeholder="User name">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<?php //echo $this->Form->input('password');    ?>
						<input class="input100" type="password" name="data[User][password]" placeholder="Password">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
					
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Login
						</button>
					</div>
				<?php echo $this->Form->end(); ?>
			</div>
		</div>
	</div>
	
<?php echo $this->Html->script(array('/vendor/jquery/jquery-3.2.1.min.js','/vendor/bootstrap/js/popper.js','/vendor/bootstrap/js/bootstrap.min.js','/vendor/select2/select2.min.js','/vendor/tilt/tilt.jquery.min.js','main.js')); ?>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
</body>
