<!-- Page footer-->
        <footer><span>© Hotels</span></footer>
    </div>
    <!--===============VENDOR SCRIPTS===============-->
    <!-- MODERNIZR-->
    <!-- <script type="text/javascript" src="/pp/bootstrap.js"></script> -->
    <?php echo $this->Html->script(array(
    	'pp/jquery_006.js',
    	'pp/app.js',
        // 'pp/jquery-3.3.1.min.js',
         'pp/Monent.js',
         'pp/datepicker.js',
        'pp/bootstrap-datetimepicker.js',
        'pp/DataTables.js',
        'vendor/sweetalert/sweetalert.min.js',
        // '',
    	)); ?>
</body>
 <?= $this->Html->css('pp/dataTables1.css') ?>
<!-- <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" /> -->
<!-- <script src="http://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script> -->
</html>