<footer>
          <div class="pull-right">
            Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>
  </body>
</html>
<script type="text/javascript">
  $('[data-validation="mobile"]').on('keypress',function(e){
              var txt = String.fromCharCode(e.which);
              var number=$(this).val();
              // if(number.length<10){
                if(e.which==0)
                {
                    return true;
                }
                else if (txt.match(/[0-9\b]/)) {
                  return true;
                }
                 else{ return false;}
              // }else{
              //   return false;
              // }  
     }); 
      $('[data-validation="postal"]').on('keypress',function(e){
              var txt = String.fromCharCode(e.which);
              var number=$(this).val();
              // if(number.length<6){
                if(e.which==0)
                {
                    return true;
                }
                else if (txt.match(/[0-9\b]/)) {
                  return true;
                }
                 else{ return false;}
              // }else{
              //   return false;
              // }  
     }); 
    $('[data-validation="float"]').on('keypress',function(e){
              var txt = String.fromCharCode(e.which);
              var number=$(this).val();
              // if(number.length<10){
                if(e.which==0)
                {
                    return true;
                }
                else if (txt.match(/[0-9.\b]/)) {
                  return true;
                }
                 else{ return false;}
              // }else{
              //   return false;
              // }  
     }); 
    $('[data-validation="char"]').on('keypress',function(e){
              var txt = String.fromCharCode(e.which);
              var number=$(this).val();
                if(e.which==0)
                {
                    return true;
                }
                else if (txt.match(/[a-zA-Z.' \b]/)) {
                  return true;
                }else{
                 return false;}  
    }); 
    $('[data-validation="char-number"]').on('keypress',function(e){
              var txt = String.fromCharCode(e.which);
              var number=$(this).val();
                if(e.which==0)
                {
                    return true;
                }
                else if (txt.match(/[a-zA-Z0-9 \b]/)) {
                  return true;
                }
                 else{ return false;}  
     }); 


    $('[data-validation="email"]').on('keypress',function (e) {
    var txt = String.fromCharCode(e.which);
      if(e.which==0)
          {
            return true;
          }
          else if (!txt.match(/[a-zA-Z0-9._@\b]/)) {
      return false;
      }
    });

    $('[data-validation="address"]').on('keypress',function(e){
              var txt = String.fromCharCode(e.which);
              var number=$(this).val();
                if(e.which==0)
                {
                    return true;
                }
                else if (txt.match(/[a-zA-Z0-9-:, \b]/)) {
                  return true;
                }
                 else{ 
                  return false;
                 }  
     }); 

</script>