    <div id="page-wrapper" class="gray-bg">

        <div class="wrapper wrapper-content">
            <div class="row">
               <div class="panel panel-default">
  <div class="panel-heading">Panel Heading</div>
  <div class="panel-body">Panel Content</div>
</div>
            </div>
        </div>
        